#idea
.idea
.scannerwork
/.vscode
# dependencies
/node_modules
/lib
# testing
/coverage
bundle-analysis.html
# production
/build
/documentation
/dist
# misc
.DS_Store


npm-debug.log*
yarn-debug.log*
yarn-error.log*
hs_err*
client-cert.pem
client-key.pem
test.http
markdown-text.md
.env
.env.*
issues.md
# firebase*